<ion-header>
        <ion-toolbar>
            
            <ion-buttons slot="start">
                <ion-back-button defaultHref="/restaurantes"></ion-back-button>
            </ion-buttons>
    
            <ion-title>Perfil</ion-title>
    
            <ion-buttons slot="end">
                <ion-menu-toggle>
                    <ion-button>
                        <ion-icon name="menu"></ion-icon>
                    </ion-button>
                </ion-menu-toggle>
            </ion-buttons>
    
        </ion-toolbar>
    </ion-header>

<ion-content class="ion-padding">
    <ion-row>
        <ion-col size-md="6" offset-md="3">
                <form [formGroup]="form" (submit)="onSubmit()">
                    <ion-item class="ion-margin-bottom">
                        <ion-label position="floating">Nome</ion-label>
                        <ion-input formControlName="name"></ion-input>
                    </ion-item>

                    <ion-item class="ion-margin-bottom">
                        <ion-label position="floating">E-Mail</ion-label>
                        <ion-input disabled formControlName="email"></ion-input>
                    </ion-item>

                    <ion-item class="ion-margin-bottom">
                        <ion-label position="floating">Fone</ion-label>
                        <ion-input mask="[00]\[000]"
                        formControlName="phone"></ion-input>
                    </ion-item>

                    <ion-item class="ion-margin-bottom">
                        <ion-label position="floating">Cidade</ion-label>
                        <ion-input formControlName="city"></ion-input>
                    </ion-item>

                    <ion-item class="ion-margin-bottom">
                        <ion-label position="floating">Data de Nascimento</ion-label>
                        <ion-datetime formControlName="birthday"></ion-datetime>
                    </ion-item>

                    <ion-button type="submit" expand="block">Atualizar Perfil</ion-button>
            
                </form>
        </ion-col>

    </ion-row>
    
</ion-content>
