<ion-header>
    <ion-toolbar>
        
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/produtos"></ion-back-button>
        </ion-buttons>

        <ion-title *ngIf="product">{{product.title}}</ion-title>

        <ion-buttons slot="end">
            <ion-menu-toggle>
                <ion-button>
                    <ion-icon name="menu"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="isLoading" class="ion-padding ion-text-center">
    <ion-spinner color="primary"></ion-spinner>
</ion-content>

<ion-content *ngIf="!isLoading">
  
    <ion-row>
        <ion-col size="6" offset="3">
            <!-- <ion-card> -->
                <ion-img *ngIf="product.image" [src]="product.image"></ion-img>
            <!-- </ion-card> -->
        </ion-col>
    </ion-row>  
  
    <ion-row class="ion-padding">
        <ion-col size="6" size-md="3" offset-md="3" class="ion-text-center">
            <ion-label>
                <p>Meus Pontos:</p>
                <p>{{ userScore }}</p>
            </ion-label>
        </ion-col>

        <ion-col size="6" size-md="3" class="ion-text-center">
            <ion-label>
                <p>Pontos Necessários:</p>
                <p>{{ product.price }}</p>
            </ion-label>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size-md="6" offset-md="3">
            <ion-button (click)="showAlert()" expand="block" [disabled]="disableButton">Resgatar Produto</ion-button>
        </ion-col>
    </ion-row>

    <ion-row *ngIf="vouchers && vouchers.length > 0">
        <ion-col size-md="6" offset-md="3" class="ion-text-center">
            <ion-label>Comprovantes</ion-label>
            <ion-virtual-scroll [items]="vouchers">
                <ion-item *virtualItem="let voucher" [ngClass]="{'setOpacity': voucher.validate}">
                    <ion-label *ngIf="voucher.validate">Resgatado</ion-label>
                    <ion-label *ngIf="!voucher.validate">Disponivel</ion-label>
                    <ion-label class="ion-text-right">{{voucher.id | slice : 0 : 8}}</ion-label>
                </ion-item>
            </ion-virtual-scroll>
        </ion-col>
    </ion-row>
  
</ion-content>
