<ion-header>
        <ion-toolbar>
            
            <ion-buttons slot="start">
                <ion-back-button defaultHref="/restaurantes"></ion-back-button>
            </ion-buttons>
            
            <ion-title *ngIf="restaurant">{{restaurant.title}}</ion-title>
    
            <ion-buttons slot="end">
                <ion-menu-toggle>
                    <ion-button>
                        <ion-icon name="menu"></ion-icon>
                    </ion-button>
                </ion-menu-toggle>
            </ion-buttons>
    
        </ion-toolbar>
    </ion-header>
  
<ion-content>

    <div *ngIf="isLoading" class="ion-padding ion-text-center">
        <ion-spinner color="primary"></ion-spinner>
    </div>

    <ion-row *ngIf="!isLoading" class="ion-margin-top">
        <ion-col size="6" offset="3" size-md="2" offset-md="5">

            <ion-img *ngIf="restaurant.image" [src]="restaurant.image"></ion-img>

            <ion-label class="ion-text-center ion-margin" *ngIf="!products || products.length == 0">
                Não há produtos cadastrados
            </ion-label>

        </ion-col>
    </ion-row>

    <ion-row *ngIf="!isLoading" class="ion-margin-top">
        <ion-col size-md="6" offset-md="3">
            <ion-virtual-scroll [items]="products" approxItemHeight="70px">
                <div *virtualItem="let product">
        
                    <ion-item
                        *ngIf="today >= product.startDate"
                        detail [routerLink]="['/', 'produto', product.id]" >
                        
                        <ion-thumbnail class="ion-margin">
                            <ion-img [src]="product.image"></ion-img>
                        </ion-thumbnail>
            
                        <ion-label>
                            <h2>{{ product.title }}</h2>
                            <p>{{ product.price | currency:'BRL'}}</p>
                        </ion-label>
            
                    </ion-item>
                    
                </div>
            </ion-virtual-scroll>
        </ion-col>
    </ion-row>

      
</ion-content>
  