<ion-app>

    <ion-menu side="start">
    
        <ion-header>
            <ion-toolbar>
                <ion-title>MyApp</ion-title>
            </ion-toolbar>
        </ion-header>
    
        <ion-content>
            <ion-list>

                <ion-menu-toggle>
                    <ion-item lines="none" routerLink="/restaurantes">
                        <ion-icon name="restaurant" slot="start"></ion-icon>
                        <ion-label>Restaurantes</ion-label>
                    </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle>
                    <ion-item lines="none" routerLink="/produtos">
                        <ion-icon name="flame" slot="start"></ion-icon>
                        <ion-label>Promoções</ion-label>
                    </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle>
                        <ion-item lines="none" routerLink="/qr-scan">
                            <ion-icon name="barcode" slot="start"></ion-icon>
                            <ion-label>Scanear Cupom</ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                <ion-menu-toggle>
                    <ion-item lines="none" routerLink="/meus-dados">
                        <ion-icon name="document" slot="start"></ion-icon>
                        <ion-label>Meus Dados</ion-label>
                    </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle>
                    <ion-item lines="none" (click)="logout()">
                        <ion-icon name="exit" slot="start"></ion-icon>
                        <ion-label>Logout</ion-label>
                    </ion-item>
                </ion-menu-toggle>
        
          </ion-list>
        </ion-content>
    
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>

    <ion-tabs>
        <ion-tab-bar slot="bottom">
        
            <ion-tab-button tab="produtos">
                <ion-icon name="flame"></ion-icon>
                <ion-label>Promoções</ion-label>
            </ion-tab-button>
        
            <ion-tab-button tab="restaurantes">
                <ion-icon name="restaurant"></ion-icon>
                <ion-label>Restaurantes</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="qr-scan">
                <ion-icon name="barcode"></ion-icon>
                <ion-label>Scanear Cupom</ion-label>
            </ion-tab-button>

        </ion-tab-bar>
    </ion-tabs>

</ion-app>
