<ion-header>
  <ion-toolbar>

    <ion-title>Restaurantes</ion-title>

    <ion-buttons slot="end">
        <ion-menu-toggle>
            <ion-button>
                <ion-icon name="menu"></ion-icon>
            </ion-button>
        </ion-menu-toggle>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="isLoading" class="ion-padding ion-text-center">
        <ion-spinner color="primary"></ion-spinner>
    </div>

    <ion-row *ngIf="!isLoading && restaurants">
        
        <ion-col size-md="6" offset-md="3" class="ion-text-center">
            
            <ion-virtual-scroll [items]="restaurants" approxItemHeight="70px">

                    <ion-item
                        *virtualItem="let restaurant" detail
                        [routerLink]="['/', 'restaurante', restaurant.id]" >
        
                        <ion-thumbnail slot="start" class="ion-margin-right">
                            <ion-img [src]="restaurant.image"></ion-img>
                        </ion-thumbnail>
    
                        <ion-label class="ion-margin">
                            <h2>{{ restaurant.title }}</h2>
                            <p>Meus Pontos: {{ restaurant.userScore }}</p>
                        </ion-label>

                    </ion-item>
                
            </ion-virtual-scroll>

        </ion-col>

    </ion-row>
    
</ion-content>
