<!-- <ion-content class="ion-text-center">
    <ion-spinner color="primary" style="margin-top: 20vh"></ion-spinner>
</ion-content> -->
<ion-content ion-padding>

    <div>
        <h1>Click Button To Scan</h1>
    
        <ion-button (click)="scanCode()">Scan Code</ion-button>
    
        <div>
            <p>Scanned Code Text : <b>{{ scannedData["text"] }}</b></p>
            <p>Scanned Code Format : <b>{{ scannedData["format"] }}</b></p>

            <p>id restaurante: <b>{{ restaurantId }}</b></p>

            <p>Current Score: <b>{{ currentScore }}</b></p>
            <p>Scanned Score: <b>{{ scannedScore }}</b></p>
            <p>New Score: <b>{{ newScore }}</b></p>
            <p>id: <b>{{ teste }}</b></p>
            <!-- <p>old QRCode: <b>{{ oldQRCode }}</b></p> -->

            
        </div>
    </div>
   
</ion-content>